<launch>
  <node pkg="image_processing" type="param_publisher.py" name="param_publisher" output="screen"/>
  <node pkg="image_processing" type="position_finder.py" name="position_finder" output="screen"/>
  <node pkg="csv_data_pkg" type="filter_gps.py" name="gps_filter" output="screen"/>
  <node pkg="image_processing" type="image_logger.py" name="image_logger" output="screen"/>
  <node pkg="image_processing" type="logger_plata.py" name="logger_plata" output="screen"/>
  <node pkg="image_processing" type="logger.py" name="logger" output="screen"/>
  <node pkg="image_processing" type="photo_publisher.py" name="photo_publisher" output="screen"/>
  <node pkg="image_processing" type="test_client.py" name="action_client" output="screen"/>
  <node pkg="image_processing" type="command_logger.py" name="command_logger" output="screen"/>
  <include file="$(find coparos)/launch/communicator.launch" >
    <arg name="node_start_delay" value="7.0"/>
  </include> 
  <!--<node pkg="sony_photo_pub" type="photo_talker" name="camera_pub" launch-prefix="bash -c 'sleep 5; $0 $@' " />-->
  <node pkg="image_processing" type="csi_camera.py" name="csi_camera" output="screen"/>
</launch>